/*css重设*/
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}
:focus {
    outline: 0;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: normal;
}
a img, iframe {
    border: none;
}
ol, ul {
    list-style: none;
}
input, textarea, select, button {
    font-size: 100%;
    font-family: inherit;
}
select {
    margin: inherit;
}
/* Fixes incorrect placement of numbers in ol’s in IE6/7 */
  ol {
    margin-left:2em;
}
/* == clearfix == */
 .clearfix:after {
    content: “.”;
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
* html .clearfix {
    height: 1%;
}
.clearfix {
    display: block;
}
body{
    font-family: 'Microsoft YaHei';
}
 .index .butt_bg{
    position: relative;
    width: 640px;
    height: 673px;
    background: url(../img/homepage/home_top_02.jpg) no-repeat top center;
} 
.index .wrap{
    width: 100%;
    margin:0 auto;
   /*  background: #000; */

}
.index .home{
    text-indent: -9999px;
    width: 125px;
}
.index .wrap .nav{
    width: 640px;
 /*    height: 104px; 
    border:1px solid red;*/
    background: url(../img/homepage/banner_02.png)no-repeat;
}
.index .nav li{
    font-family: 'Microsoft YaHei';
    color:#dadada;
    display: inline-block;
    line-height: 70px;
}
.index .nav li a{
    display: inline-block;
    color: #dadada;
    width: 122px;
    text-align: center;
    text-decoration: none;
    /* border:1px solid red; */
}

.index .top .down_gamebg{
 position: absolute;
 bottom: 0;
 left: 0;
 display: block;
 width: 640px; 
 height: 126px;
 background: url(../img/homepage/home_bottom.jpg)no-repeat;  
}
.index  .down_game{
    background: url(../img/homepage/home_down.jpg) no-repeat;
    width: 490px;
    height: 72px;
    display: inline-block;
    margin: 22px 10px 10px 67px;
    text-indent: -9999px;
}
.index .video_bg{
    background: url(../img/homepage/home_vedio.jpg)no-repeat;
  width: 640px;
  height: 470px;

}
.index .game_vi{
  padding:100px 60px 60px 60px;   
}
.index .news_bg{
    background:url(../img/homepage/home_news.jpg) no-repeat;
    width: 640px;
    min-height: 665px;
}
/* .index .posts{
    padding: 0px 10px 2px 10px;

} */
.index .posts li{
    border-bottom:1px solid #570c0c; 
    padding-top:21px;
    padding-bottom: 22px; 
}
.index .content li a{
    width: 78%;
    font-size: 20px;
    color: #ffffff;
    text-decoration: none;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    display: inline-block;

}
.index .content ul.posts  li  i{
   font-size: 20px;
   color: #fff;
   font-style: normal;
   float: right;
}
.index  a.toutiao{
    margin-top: 74px;
    display: inline-block;
   width: 555px;
   height: 58px;
   margin-left: 55px;
   text-decoration: none;
   overflow: hidden;
   text-overflow:ellipsis;
   white-space: nowrap;
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 3px;
}
.index .content ul{
   padding:10px 10px 0px 10px;

}
.index .content .more{
    display: block;
    line-height: 4.3;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
}
.foot{
    background: url(../img/homepage/home_foot.jpg)no-repeat;
    width: 100%;
    height: 184px;
    left: 0;
    
}
.foot div{
    color: #c5c5c5;
    padding-top: 66px;
    text-align: center;

}
.index .news_bg .content{
    background: url(../img/homepage/conent.jpg) repeat;
    width: 100%;

}
.herop{

}
.herop .wrap{
    width: 100%;
    margin: 0 auto;
   /*  position: absolute; */
}
.herop .banner{
  background: url(../img/heroimg/img_h_10.png) no-repeat;
  width: 100%;
  height: 73px;

}
.herop .banner .back_but{
    color: white;
    margin-left:20px; 
    float: left;
    margin-top: 20px;
    font-size: 25px;
}
.herop .banner .logo{
    float: left;
    background: url(../img/heroimg/img_h_03.png) no-repeat;
    width: 54px;
    height: 54px;
   
    margin-left: 319px;
    margin-top: 10px;
}
.herop .banner .down{
    background:url(../img/heroimg/down_05.png) no-repeat;
    width: 144px;
    height: 46px;
    float: right;
    margin-right: 15px;
    margin-top: 14px;
}

.herop .body_type 
{  width: 100%;
    top:300px;
     position: absolute; 
  /*   left: 105px;
  top: 350px; */
    /* width: 500px;
    height: 140px;
       margin-top: 330px; */

}
.herop .title3{
    position: absolute;
    width: 400px; 
    height: 135px;
    top: 132px; 
    margin-left: 90px;
    border: 1px solid red;
    z-index: 90;
}
.herop ul.title3 li{
    cursor: pointer;
   /*  display: inline-block; */
    width: 116px;
    height: 132px;
    z-index: 20;
    position: absolute;
}
.herop .body_type ul li.tuji{
    left: 19px;
      background: url(../img/heroimg/tuji.png) no-repeat 0 0;
      width: 116px;
      height: 132px;
}
.herop .body_type ul li.yuancheng{
    left: 151px;
      background: url(../img/heroimg/yuancheng.png) no-repeat 0 0;
       width: 116px;
      height: 132px;
}

.herop .body_type ul li.fangyu{
    left: 285px;
      background: url(../img/heroimg/fangyu.png) no-repeat 0 0;
       width: 116px;
      height: 132px;
}
.herop .body_type ul li.tuji.cur{
      background: url(../img/heroimg/tuji_cur.png) no-repeat 0 0;
       width: 116px;
      height: 132px;
}
.herop .body_type ul li.yuancheng.cur{
      background: url(../img/heroimg/yuancheng_cur.png) no-repeat 0 0;
       width: 116px;
      height: 132px;
}
.herop .body_type ul li.yuancheng.cur{
      background: url(../img/heroimg/yuancheng_cur.png) no-repeat 0 0;
     width: 116px;
      height: 132px;
}

.herop  .img_bg{
   /*  margin-top: -623px; */
    background: url(../img/heroimg/rolebg.jpg)no-repeat;
    width: 640px;
    height: 405px;
    position: absolute;
    top: -232px;
}
.herop .touxiang{
    width: 640px;
    height: 300px;
    position: absolute;
    top: 281px;
    background: url(../img/heroimg/heroi_03.jpg) repeat;
}
.herop .list_nav{
  background: url(../img/heroimg/heroi_03.jpg) repeat; 
    width: 640px;
    height: 400px;
   /*  position: absolute; */
}
.herop .list_nav ul li{
    position: relative;
    width: 90px;
    height: 78px;
    display: inline-block;
    margin-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
}
/*滚动的img*/
.herop .talent_type ul li span.shadow{
 
  width: 78px;
  height: 78px;
  display: inline-block;
  background: #fff;
  background: rgba(255,255,255,0.5);
  position: absolute;
  top: 0;
  left: 0;
}
.herop .talent_type ul li img{
    width: 78px;
    height: 78px;
    display: block;
}
.herop .contents .heor_info {
    
    
}
.herop .contents .heor_bg {
    background: url(../img/heroimg/YELO.jpg)repeat;
    width: 100%;
    min-height: 2500px;
}
.herop .contents .heor_info  .tablent_total .talent{
    width: 601px;
    height: 72px;
   background: url(../img/heroimg/sole_02.png)no-repeat;
    position: absolute;
    top: 730px;
}
.herop .contents .heor_info  .tablent_total{
    padding-top: 200px;
    padding-left: 30px;
}
.herop .contents .heor_info .tab_four {
    width: 550px;
    min-height: 355px;
    background: url(../img/heroimg/yellow_bo.jpg) repeat;
    position: absolute;
    top: 823px;
    left: 40px;
}

.herop .contents .heor_info .tab_four ul.title{
    width: 550px;
    height: 130px;
    background-color: #2c1e0f;
}
.herop .contents .heor_info .tab_four ul{
    float: left;

}
.herop .contents .heor_info .tab_four ul li{
    float: left;
   /*  width: 140px; */
    cursor: pointer;
    font-size: 18px;line-height: 37px;
    margin-left: 25px;
    text-align: center;
    padding: 17px;
}
.herop .contents .heor_info .tab_four ul li img{
position: absolute;
width: 79px;
height: 74px;
    
}
.herop .contents .heor_info .tab_four ul li i{
position: relative;
    top:60px;
    font-style: normal;
    font-size: 15px;
    left: 10px;
    color: #b7a207;
}
.herop .contents .heor_info .cont{
    border: 1px solid red;
    padding:1px 15px 4px 15px;
  color: #c8c8c8;
      background: url(../img/heroimg/yellow_bo.jpg) repeat;
      min-height: 300px;
}
.herop .contents .heor_info .cont .mark{
    border: 1px solid red;
    line-height: 10px;
    font-size: 20px;
  
}
/* .herop .contents .heor_info .tab_four ul li.cur{
      background: url(../img/heroimg/YELO.jpg)repeat;
       width: 140px;
       height: 120px;
} */
.herop .contents .heor_info .wuqi {
    background: url(../img/heroimg/yellow_bo.jpg) repeat;
    width: 548px;
    min-height: 102px;
    margin-top: 884px;
    margin-left: 50px;
}
.herop .contents .heor_info .wuqi .info_wuqi {
   float: right;
   margin: 6px 30px 3px 1px;
      width: 400px;
   /*  min-height: 200px; */
     background: url(../img/heroimg/yellow_bo.jpg) repeat;
}

.herop .contents .heor_info .wuqi .info_wuqi  .tianmeng {
    float: left;
    color: #ffb401;
    font-size: 25px;
    width: 403px;

}.herop .contents .heor_info .wuqi .info_wuqi  .tianmeng_info
{ 
    color: #c8c8c8;
    font-size: 20px;
    line-height: 10px;

}
.herop .contents .heor_info .wuqi img{
    width: 79px;height: 74px;    float: left;
    margin: 13px;
}
.herop .contents .heor_info .qiyuan{
        width: 601px;
    height: 72px;
    background: url(../img/heroimg/sole_02.png)no-repeat;
    margin:30px;
}
.herop .contents .heor_info .qiyuan .tab_three {
    width: 550px;
    margin-left: 20px;
    min-height: 355px;
    background: url(../img/heroimg/yellow_bo.jpg) repeat;
  /*   position: absolute;
  top: 980px;
  left: 40px; */
 /*  margin-top: 200px; */
  
}
.herop .contents .heor_info .tab_three ul.title{
    width: 550px;
    height: 130px;
    background-color: #2c1e0f;
}.herop .contents .heor_info .tab_three ul{
    float: left;

}
.herop .contents .heor_info .tab_three ul li{
    float: left;
   /*  width: 140px; */
    cursor: pointer;
    font-size: 18px;line-height: 37px;
    margin-left: 25px;
    text-align: center;
    padding: 17px;
}
.herop .contents .heor_info .tab_three ul li img{
position: absolute;
width: 79px;
height: 74px;
    
}
.herop .contents .heor_info .tab_three ul li i{
position: relative;
    top:60px;
    font-style: normal;
    font-size: 15px;
    left: 10px;
    color: #b7a207;
}.herop .contents .heor_info  .qiyuan .talent{
    width: 601px;
    height: 72px;
   background: url(../img/heroimg/sole_02.png)no-repeat;
/*     position: absolute;
top: 900px; */
}