<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="伏魔道 官方论坛 绘影区 资料区 攻略区 英雄殿">
	<meta name="description" content="手机英雄殿">
    <meta name="author" content="heyanfang">
    <meta HTTP-EQUIV="Pragma" CONTENT="no-cache">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta name="viewport" content="width=640,user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="css/index.css">
	<title>伏魔道-英雄殿</title>
</head>
<body class="herop">
	<div id="app" class="wrap">
    	<!-- banner begin -->
		<div class="banner">
		   <div class="back_but"><返回</div>
            <div class="logo"></div>
            <!-- 下载按钮 -->
            <div class="down" title="下载" dataurl="http://huo.dl.hoolaigames.com/hcrlm.apk" href="javascript:void(0)"></div>
        </div>
          <!-- banner end -->
        <!--  conTent begin-->

        <div class="body_type">

        <!-- 三种类型 -->
         <ul class="title3">
                <li class="tuji cur" onclick="clickHeroItem(this,'tujixing')"></li>
                <li class="yuancheng" onclick="clickHeroItem(this,'yuanchengxing')"></li>
                <li class="fangyu" onclick="clickHeroItem(this,'fangyuxing')"></li>
        </ul>
        <!-- 三种类型 end -->
         <div class="contents">
         <div class="content c1">
         	<div class="list_nav">
            <div class="talent_type">
            <!-- 滚动的img -->
            <div  class="touxiang">
                <ul class="touxiang" id="hero">
                    <li  v-for="hero in heros"  v-on:click="showDetail(hero.id, $event)">
                    <span v-if="checkHerlid===hero.id"></span>
                      <span v-else class="shadow"></span>
                       <img v-bind:src="hero.img" v-bind:alt="hreo.title" />
                    </li>
                </ul></div>
                 <!-- 滚动的img -->
            </div>
            </div>
             <!-- heor1 -->
           <!--  <div class="heor_info">   -->
            <!-- hero_bg begin -->
            <div class="heor_bg heor1">

                 <!-- 人物头像 -->
            <div class="img_bg"><img v-bind:src="img_bg"><!-- {{img_bg}} --></div>
            <!-- 人物头像 -->
               <!-- 技能 -->
               <div class="tablent_total">
               <div class="talent">
               </div>
               <div class="tab_four">
                <ul class="title">
                    <li class="talentname1" v-for="jineng in jinengList"  v-on:click="showJinengIntro(jineng,$event)">
                  <!--   <span></span> -->
                     <div class="{{ jinengname | jinengClass jineng.name }}">
                        <img class="fir_talent " v-bind:src="jineng.img"/>
                        <i>{{jineng.name}}</i>
                     </div> 
                    </li>
                </ul>
                <ul class="cont">
                <span class="mark1 " v-text="jinengIntro">
                </span>
                </ul>
               </div>
               </div>
            <!-- 武器 -->
             <div class="wuqi" v-show="weapon_image">
               <img v-bind:src="weapon_image" alt="" />
               <div class="info_wuqi">
                   <span class="tianmeng">{{ weapon_name }}</span>
                   <span class="tianmeng_info">
                     {{weapon_intro}}
                 </span>
               </div>
              </div>
       <!-- 奇缘 -->
         	  <div class="qiyuan">
                    <div class="talent">
               </div>
               <div class="tab_three">

                <ul class="title">
                    <li class="cur talentname1" v-for="temp in qiyuanList"  v-on:click="showQiyuanIntro(temp)">
                    <div></div>
                        <img class="fir_talent" v-bind:src="temp.img"/>
                        <!-- <i>{{temp.name}}</i> -->
                    </li>
                </ul>
                <ul class="cont">
                <span class="mark " v-text="qiyuanIntro">

                </span>
              </ul>
               </div>
               </div>
             <!--  </div>   -->
              <!-- heor_bg end -->
              </div>
              <!-- heor1 -->
        </div>
         <!-- 中间三部分结束 -->
        </div>
        <div class="foot">
       <div >
       <div class="down_foot"></div>
        <p>
            Copyright © 2012 Hoolai Games. All Rights Reserved 互爱互动（北京）科技有限公司版权所有
        </p>
        </div>
        </div>
         </div>
        <!--  conTent end-->


	</div>
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script  src="js/vue.min.js"></script>
 <script type="text/javascript">
var resultList={};
var url = "http://games.hoolai.com/cms/?json=get_category_posts&cat=221&include=title,content,categories,custom_fields&count=10000";
var vm=new Vue({
  el: '#app' //指定vue在哪里开始
  ,data: {
    heros:[]
    ,jinengList:[]
    ,qiyuanList:[]
    ,jinengIntro:""
    ,qiyuanIntro:""
    ,qiyuanList:[]
    ,weapon_image:""
    ,weapon_intro:""
    ,weapon_name:""
    ,checkJI:""
    ,img_bg:""
    ,checkHerlid:0
    ,jinengname:""
    ,styleObject: {

    }
  }
  ,methods:{ //hero_info data get
    showDetail: function(heroid,e){
       console.log(heroid);
      /*      $(e.toElement).closest("ul").find("span").addClass("shadow")
       $(e.toElement).prev().removeClass("shadow");*/
       bindHeroJineng(heroid); //

       bindHeroQiyuan(heroid);

       bindHeroWuqi(heroid);
       bindHeroIMG(heroid);
       //
      // $(e).find("span").removeClass("shadow");
    }
    ,showJinengIntro:function(row){
      this.jinengIntro=row.intro;
      this.jinengname=row.name;
    }
    ,showQiyuanIntro:function(row){
      this.qiyuanIntro=row.intro;
    }
  }
});

//vm.$data={};

$.post(url,function(result){

      resultList=result;

      bindData();

},"jsonp")


function clickHeroItem(e,key){
 
   $(e).parent().find("li").removeClass("cur");

   $(e).addClass("cur");

   getHeroData(key);

}
//第一次数据显示
function bindData(){

  getHeroData("tujixing");
 
}


var heroList=[];
var jinengList=[];
function getHeroData(key){
     if(!heroList[key]){ //三次key
       var posts= resultList.posts;
       var outList=[];
       for (var i = 0; i < posts.length; i++) {
           var post=posts[i];
           if(!checkCategories(key,post)){ continue;}; //不同类跳出
           var hero={};
           hero.id=post.id;
           hero.title=post.title;
           var custom_fields=post.custom_fields;
           hero.img=custom_fields.icon[0];


           var other={};
           other.jinengList=getJinengList(post);
           other.qiyuanList=getQiyuanList(post);

           try {
             other.img_bg=post.custom_fields.image[0];
             other.weapon_image=post.custom_fields.weapon_image[0];
             other.weapon_intro=custom_fields.weapon_intro[0];
             other.weapon_name=custom_fields.weapon_name[0];
           } catch (e) {

           }
           heroList[hero.id]=other;
           

           outList.push(hero);
           //outList[hero.id]=hero;
       }
       heroList[key]=outList;
      var length=heroList[key].length;
      var $touxiang=$("div.body_type").find("div.contents .touxiang ul");  
      var $touli=$touxiang.find('li');
      $touxiang.css('width', (length+1)*134/2 + 'px');
      console.log(length);

    }
    vm.$data.heros=heroList[key]; //绑定英雄
    var heroid=heroList[key][0].id;
    bindHeroJineng(heroid);

    bindHeroQiyuan(heroid);

    bindHeroWuqi(heroid);
    bindHeroIMG(heroid);
}

function getJinengList(post){
  var jinengList=[];//技能
   for(var n=1;n<5;n++){
     var custom_fields=post.custom_fields;
     var jineng={};
     try {
       eval("jineng.img=custom_fields.skill"+n+"_image[0];");//original 计算某个字符串并执行其中的js代码
       eval("jineng.name=custom_fields.skill"+n+"_name[0];");
       eval("jineng.intro=custom_fields.karma"+n+"_intro[0];");
       jinengList.push(jineng);
     } catch (e) {

     } finally {

     }

   }
   return jinengList;

}

function getQiyuanList(post){
  var qiyuanList=[];//技能
   for(var n=1;n<4;n++){
     var custom_fields=post.custom_fields;
     var temp={};
     try {

       eval("temp.img=custom_fields.karma"+n+"_image[0];");
      //  eval("temp.name=custom_fields.karma"+n+"_name[0];");
       eval("temp.intro=custom_fields.karma"+n+"_intro[0];");
       qiyuanList.push(temp);
     } catch (e) {

     } finally {

     }

   }
   return qiyuanList;

}

function bindHeroJineng(heroid){
    var jinengList=heroList[heroid].jinengList;
    vm.$data.jinengList=jinengList;
    vm.$data.jinengIntro=jinengList[0].intro;

     vm.$data.jinengname=jinengList[0].name;
}

function bindHeroQiyuan(heroid){
  var qiyuanList=heroList[heroid].qiyuanList;
  vm.$data.qiyuanList=qiyuanList;
  vm.$data.qiyuanIntro=qiyuanList[0].intro;
}

function bindHeroWuqi(heroid) {
/*  $wuqi=$(content).*/

  var other=heroList[heroid];  
/*  if(other.weapon_image!=undefined){*/
  vm.$data.weapon_image=other.weapon_image;
  vm.$data.weapon_intro=other.weapon_intro;
  vm.$data.weapon_name=other.weapon_name;
 /*} else{
    $wuqi.remove();
  }*/
  vm.$data.checkHerlid=heroid;
  vm.$data.checkJI=heroid;
}
function bindHeroIMG(heroid){
    var other=heroList[heroid];
  vm.$data.img_bg=other.img_bg;

}
function checkCategories(key,post){
    var categories=post.categories;
    for (var i = 0; i < categories.length; i++) {
          var data=categories[i];
          if(data.slug==key){
            return true;
          }
    }
    return false;
}


Vue.filter('jinengClass', function (value,oldname) {
  if(value===oldname){
    return "jineng";
  }else{
    return "";
  } 
})

// 计算头像区的宽度
$(document).ready(function(){
   var $touxiang=$("div.body_type").find("div.contents .touxiang ul");  
    var $touli=$touxiang.find('li');
    console.log($touli.length);

})

 </script>
</body>
</html>
